/* BODY */

body {
  font-family: 'Arya', sans-serif;
}

/* WELCOME 1 & 2*/
.welcome-style {
  font-family: 'Seaweed Script', cursive !important;
  text-align: center;
}

@media all and (max-width:575px) {
  .welcome-style {
    font-size: 35px;
  }
  
}
@media all and (min-width:576px){
  .welcome-style {
    font-size: 50px;
  }
}
@media all and (max-width:767px) {
 .greeting1-space {
   display: none;
 }
 .greeting2-space {
    margin-top: 30px;
  }
}
@media all and (min-width:768px) {
  .greeting1-space {
    margin-top: 55px;
  }
  .welcome-style {
    font-size: 60px;
  }
  .greeting2-space {
    display: none;
  }
}
@media all and (min-width:992px) {
  .greeting1-space {
    margin-top: 80px;
  }
  .welcome-style {
    font-size: 75px;
  }
}
@media all and (min-width:1200px) {
  .greeting1-space {
    margin-top: 100px;
  }
  .welcome-style {
    font-size: 85px;
  }
}

/* NAVIGATION */

nav {
  font-size: 20px;
  background: linear-gradient(135deg, #cad6ac71, #cee5ad38);
  border-style: double;
  border-color: black !important;
  border-width: 10px;
}
a {
  color: black !important;
}

.nav-link:hover {
  background-color: rgba(148, 168, 99, 0.795);
  border-radius: 5px;
}


@media all and (max-width:575px) {

}
@media all and (min-width:576px){
  
}
@media all and (max-width:767px) {
  .sm-space {
    margin-top: 15px;
  }
  .img-resp {
    width: 40px;
    height: 40px;
  }
}
@media all and (min-width:768px) {
  nav {
    margin: 40px 50px 50px 50px;
  }
  .img-resp {
    width: 50px;
    height: 50px;
  }
  .wiggle:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
@media all and (min-width:992px) {
  nav {
    margin: 70px 80px 50px 80px;
  }
}
@media all and (min-width:1200px) {
  nav {
    margin: 100px 130px 50px 130px;
    padding: 15px 80px !important;
  }
  .item-style {
    margin-left: 40px !important;
  }
}

/* ABOUT ME & MY SKILLS */

.text{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 15px;
}

.p-style {
  line-height: 25px;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.skills-img {
  width: 50px;
  height:80px;
  margin: 20px
}

.skills-img {
  margin-top: 0px;
}

@media all and (min-width: 768px) {
  .about-style , .skill-style {
    border-style: double;
    border-color: black !important;
    border-width: 10px;
  }

  .about-style {
    background: linear-gradient(135deg, #c9c49652, #b4db7e38);
  }

  .skill-style {
    background: linear-gradient(135deg, #99b16d52, #bfc06b38);
  }
}
@media all and (min-width: 1200px) {
  .skill-style {
    margin-left: 90px;
  }
  .skills-space {
    margin-top: 100px;
  }
}

/* MY WORK */

/* CONTACT ME */