/* BODY */

/* WELCOME 1 & 2*/
#welcome1-style, #welcome2-style {
  font-family: 'Seaweed Script', cursive;
  text-align: center;
}

@media all and (max-width:575px) {

}
@media all and (min-width:576px){

}
@media all and (max-width:767px) {
 .greeting1-space {
   display: none;
 }
}
@media all and (min-width:768px) {
  .greeting1-space {
    margin-top: 55px;
  }
  #welcome1-style {
    font-size: 60px;
  }
}
@media all and (min-width:992px) {
  .greeting1-space {
    margin-top: 80px;
  }
  #welcome1-style {
    font-size: 75px;
  }
}
@media all and (min-width:1200px) {
  .greeting1-space {
    margin-top: 100px;
  }
  #welcome1-style {
    font-size: 85px;
  }
}


/* NAVIGATION */

/* ABOUT ME & MY SKILLS */

/* MY WORK */

/* CONTACT ME */